<footer class="bg-secondary text-center lg:text-left absolute bottom-0 w-full h-16">
  <div class="text-gray-700 text-center p-4">
    Created by:
    <a class="text-gray-800" href="https://chelseaharding.com/">Chelsea Harding</a>
  </div>
</footer>
<script src="https://cdn.tailwindcss.com"></script> 
</body>
</html>