
  <footer class="bg-primary flex shrink-0">
    <div class="text-gray-700 justify-center text-center p-4 align-middle w-full">
    	&copy;
    <a class="text-gray-800 text-center" href="https://chelseaharding.com/">Migraine Tracker</a>
    </div>
</footer> 
</body>
</html>