<!DOCTYPE html>
<html data-theme="mytheme" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Migraine Tracker</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link rel="stylesheet" href="../../src/styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
  </head>
  <body>
    <header>
      <div class="h-32 navbar bg-secondary">
        <div class="navbar-start">
          <a href="/dashboard" class="btn btn-ghost normal-case text-3xl">Migraine Tracker</a>
        </div>
        <div class="navbar-end">
          <a href="/logout" class="btn btn-primary">Logout</a>
        </div>
      </div>
      <!-- <div class="navbar-start bg-base-100">
        <a class="btn btn-ghost normal-case text-xl">Migraine Tracker</a>
      </div>
      <div class = navbar-end>
        <a class="flex btn">New Attack</a>
      </div> -->
      <!-- <div class="navbar-end">
        <a class="btn">New Attack</a>
      </div>       -->
  </header>
  </body>
</html>
